:host {
  display: block;
  max-width: 1200px;
  width: 100%;
}

:host > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.datetime-container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

mat-form-field {
  flex: 1;
}