:host {
  display: block;
  width: 100%;
}

.chart-container {
  position: relative;
  width: 100%;
  min-height: 400px;
}

canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
}